<!-- As a link -->

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">CharDev</a>
    <a href="/logout" class="btn btn-outline-dark" role="button">Logout</a>
  </div>
</nav>
