<!-- As a link -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CharDev</a>
    <div class="nav-item">
      <a class="nav-link active" aria-current="page" href="/account">Login</a>
    </div>
  </div>
</nav>
</nav>
