<!-- FOR EXPANSION TO MULTI USER -->

<div class="call-box">
  <h2>Create an account here</h2>

  <form class="signup-form" action="/signup" method="post">
    <div class="mb-3">
      <label for="s-username" class="form-label">Username</label>
      <input
        id="s-username"
        name="username"
        class="form-control"
        placeholder="username"
        autocomplete="off"
        required
      />
      <% if(locals.message) { %>
      <span class="form-text"><%= message %></span>
      <% } %>
    </div>

    <div class="mb-3">
      <label for="s-password" class="form-label">Password</label>
      <input
        id="s-password"
        name="password"
        type="password"
        class="form-control"
        placeholder="password"
        minlength="8"
        required
      />
      <span class="form-text"> Must be at least 8 characters long. </span>
    </div>

    <button type="submit">Create account</button>
  </form>
</div>
