<!-- form for sign up, login -->

<form class="login-form" action="/login" method="post">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <input name="username" class="form-control" placeholder="username" />
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input
      name="password"
      type="password"
      class="form-control"
      placeholder="password"
    />
  </div>
</form>

<h2>Don't have an account? Create one here</h2>

<form class="login-form" action="/signup" method="post">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <input name="username" class="form-control" placeholder="username" />
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input
      name="password"
      type="password"
      class="form-control"
      placeholder="password"
    />
    <span class="form-text"> Must be 8-20 characters long. </span>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Re-enter password</label
    >
    <input
      name="repassword"
      type="password"
      class="form-control"
      placeholder="password"
    />
  </div>
</form>
