<h1></h1>
<div class="timeline">
  <div class="container">
    <h2>Act 1: Setup</h2>
    <div>
      <label>Exposition</label>
      <textarea class="time-textarea"></textarea>
    </div>
  </div>
  <div class="container">
    <div>
      <label>Inciting Incident</label>
      <textarea class="time-textarea"></textarea>
    </div>
  </div>
  <div class="container">
    <div>
      <label>Plot Point One</label>
      <textarea class="time-textarea"></textarea>
    </div>
  </div>
  <div class="container">
    <h2>Act 2: Confrontation</h2>
    <div>
      <label>Rising Action</label>
      <textarea class="time-textarea"></textarea>
    </div>
  </div>
  <div class="container">
    <div>
      <label>Midpoint</label>
      <textarea class="time-textarea"></textarea>
    </div>
  </div>
  <div class="container">
    <div>
      <label>Plot Point Two</label>
      <textarea class="time-textarea"></textarea>
    </div>
  </div>
  <div class="container">
    <h2>Act 3: Resolution</h2>
    <div>
      <label>Pre Climax</label>
      <textarea class="time-textarea"></textarea>
    </div>
  </div>
  <div class="container">
    <div>
      <label>Climax</label>
      <textarea class="time-textarea"></textarea>
    </div>
  </div>
  <div class="container">
    <div>
      <label>Denouement</label>
      <textarea class="time-textarea"></textarea>
    </div>
  </div>
</div>
