* {
  font-family: "DM sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

input[type="submit"] {
  height: 80%;
  align-self: center;
  padding: 10px;
  border-radius: 5px;
}

nav {
  width: 100%;
}

label {
  font-weight: 700;
}

.time-textarea {
  width: 100%;
  height: 200px;
}

.container {
  position: relative;
  max-width: 34em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.container div {
  border: #000000 2px solid;
  border-radius: 1em;
  padding: 1.5em;
}

.container:nth-child(even) {
  padding-left: 2em;
  transform: translateX(17em);
}

.container:nth-child(odd) {
  padding-right: 2em;
  transform: translateX(-17em);
}

.timeline {
  margin: 5em auto;
  max-width: 34.15em;
  margin-top: 0;
}

.form-textarea {
  height: 300px;
  border-radius: 5px;
}

.dropdown-menu {
  background: rgba(0, 0, 0, 0);
}

.delete-button {
  background-color: #bd0808 !important;
}

.char-button {
  border: none;
  font-weight: 800;
}

.group-button {
  border: none;
  font-size: 16px;
}

.login-form,
.signup-form {
  display: flex;
  justify-content: center;
  width: 70%;
}

.call-box {
  display: flex;
  padding: 50px;
  margin: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.option-form {
  align-items: center;
  gap: 10px;
}

.data-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  margin: 0px 100px;
}

.data-list-item {
  font-size: 20px;
  padding: 5px;
}

.init-form {
  padding: 50px 100px;
}

.info {
  display: inline-block;
  text-align: center;
}

.info2 {
  text-align: center;
}

footer {
  align-self: center;
  margin-top: auto;
  text-align: center;
  padding: 20px;
}

@media (max-width: 800px) {
  .data-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .timeline {
    width: 80vw;
  }

  .timeline .container {
    width: 100%;
    transform: none;
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
}

/* colour themes */

.light {
  background-color: #ffffff;
}

.dark {
  color: #cccccc;
  background-color: #121212;
}

.blue {
  background-color: #67c6e3;
  color: #0c359e;
}

.purple {
  background-color: #ad88c6;
  color: #392467;
}

.green {
  background-color: #86a789;
  color: #163020;
}

.pink {
  background-color: #f9c5d5;
  color: #e60965;
}
