* {
  font-family: "Anybody", sans-serif;
}

body {
  background-image: url("../img/texture.png");
}

h1,
h2,
p {
  text-align: center;
}

div {
  padding: 20px;
}

img {
  border-radius: 5px;
}

.navbar {
  background-image: url("/img/texture.png");
}

.login-form,
.char-list {
  display: flex;
  justify-content: center;
}

textarea {
  height: 300px;
}

.init-form {
  padding: 50px 100px;
}

input[type="submit"] {
  height: 80%;
  align-self: center;
}

footer {
  align-self: center;
  margin-top: auto;
  text-align: center;
}
